*{
    margin: 0px;
    padding: 0px;
}

.nav-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.nav-corpo-log{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-corpo-listar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-corpo{
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.up-titulo{
    padding: 15px;
    text-align: center;
}

.form-corpo{
    padding: 18px;
}